<table class="table m-3 b-shadow">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Popularity</th>
      <th scope="col">Device</th>
      <th scope="col">Type</th>
      <th scope="col">Ocurrence</th>
      <th scope="col">Growth</th>
    </tr>
  </thead>
  <tbody>
    <% counter = 1 %>
    <% counted_ordered_devices.each do |device, occurrence, prev_o| %>
      <tr>
        <th scope="row"><%= counter %></th>
        <td><%= device.device_serial_number %></td>
        <td><%= device.device_type.capitalize %></td>
        <td><%= occurrence %></td>
        <td><%= device.dif_percentage(occurrence, prev_o) %></td>
      </tr>
      <% counter += 1 %>
    <% end %>
  </tbody>
</table>
