<!DOCTYPE html>
<html>
  <head>
    <title>KiwiChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success fixed-bot"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger fixed-bot"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
